@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Montserrat:wght@500;600;700&display=swap");

.navbar-settings {
    width: 98%;
    left: 50%;
    margin-left: -49%; /* Negative half of width. */
}

.navbar-settings {
    width: 98%;
}

.text-font {
    color: #355070;
    font-weight: 600;
}

.text-font-2 {
    font-weight: 700;
}

.upBit {
    margin: -3px;
}

.upABit {
    margin: -2px;
}

.margintop-half {
    margin-top: 0.125rem;
}

.title-font {
    font-family: 'Josefin Sans',
    sans-serif;
}